@font-face {
    font-family: 'Font 1';
    src: url('fonts/AllTheBoxDemoRegular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Font 2';
    src: url('fonts/BoogieBoys.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Font 3';
    src: url('fonts/CakeZombie.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Font 4';
    src: url('fonts/drunkenhourDEMO.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Font 5';
    src: url('fonts/HEMAN.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Font 6';
    src: url('fonts/LLPIXEL3.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Font 7';
    src: url('fonts/Speedway.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
* {
    box-sizing: border-box;
}
p {
    font-size:xx-large;
    font-family: 'Font 6';
}
span {
    font-size: medium;
    margin:0 0.5rem 0 0;
    font-weight: bold;
    font-family: 'Font 6';

}
li {
    list-style-type: none;
} 
html{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
body {
    background-color: black;
    color: red;
    height: 100%;
    width: 100%;
    gap: 1rem;
    margin: 0;
    cursor: none;
}
#general-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    gap: 2rem;
    margin: 0;
}
#view-wrapper{
    display: flex;
    height: 80%;
    margin: 2rem 2rem 0 2rem;

}
.view-box{
    width: 100%;
    height: 100%;
}
#menu_chucherias-interface{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 100%;
    gap: 1rem;
}
#solicitar_chucherias-interface{
    display: none;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 1rem;
}
#editar_chucherias-interface{
    display: none;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 1rem;
}
#help-interface{
    display: none;
   flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 1rem;
}
#apagar_maquina-interface{
    display: none;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
.menu-box{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 0.3rem double red;
}
#solicitar_chucherias-item{
    font-family: 'Font 6';
}
#mostrar_chucherias-item{
    font-family: 'Font 6';
}
#help-item{
    font-family: 'Font 6';
}
#apagar_maquina-item{
    font-family: 'Font 6';
}
.producto_item{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 0.3rem double red;
}
#help_item-unico{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    font-family: 'Courier New', Courier, monospace;
}
#help_item-unico span{
    font-family: 'Courier New', Courier, monospace;
}
#mensaje_apagar_container{
    display: flex;
    flex-direction: row;
    border: 0.3rem double red;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
#cli-wrapper{
    display: flex;
    flex-direction: column;
    margin: 0 2rem 2rem 2rem;
    border: 0.3rem double red;
    height: 20%;
}
#cli_output-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    justify-content: end;
}
#cli_input-container{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
}

input {
    color: red;
    background-color: black;
    border: none;
    width: 100%;
    font-size: medium;
    font-weight: bold;
    cursor: none;
    font-family: 'Font 6';
}

input:focus {
    border: none;
    outline: none;
}